
h1.section {font-size: 32pt; color: "primary"; font-weight: bold}
div {margin: auto; align-content: center; text-align: center;}
hr {width: 75%}
p {
    font-size: 16pt;
    width: 50%;
    margin:auto;
    text-align: left;
    text-indent: 30pt;
    line-height: normal;
}
p.available
{
    margin-left: 25%;
    font-size: 18pt;
    text-decoration: underline;
    text-indent: 0pt;
}
span.can {
    background-color: #c4ffc5;
}

span.cant {
    background-color: #ffb8b8;
}

span.feat {
    background-color:lightgoldenrodyellow;
}

h3 {
    font-size: 24pt;
}
li {
    font-size: 16pt;
}

h4 {
    font-size: 20pt;
    margin-left: 25%;
    font-weight: bold;
}

li {
    margin: 10px;
}