<div>
    <br><br>
    <hr>
    <h1 class="section" color="primary">Origins</h1>
    <hr>
    <figure style="font-style: italic;">
        <blockquote style="font-size: 120%">“They come from riches. They come from ruin. <br>
            They are a mess of textures, and a myriad of colors. <br>
            From distant lands and different worlds. From noble lines and quiet farms.<br>
            Yet no matter their race, descendance, title or physique,<br>
            In their eyes will be flame.<br>
            And this world will stretch before them like a golden river. <br>
            Their coming as true as the tide on the sand and the sun in the dawn. <br>
            Their path is uncertain, but rest assured. They shall come.”<br>
        </blockquote>
        <figcaption>— Words for the Wandersoul</figcaption>
    </figure>
    <hr>
    <br><br>
    <p>In the world of Aurinn, the exact origin of each traveler is quite unique,
        and this special upbringing may afford them certain boons and blessings.
        A token heirloom, curried favor, or even a glint of gold.
        When choosing your origin,
        consider what sort of things you may want or need for your character,
        and what sort of story fits them best.</p>
</div>