
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

<div>
    <br><br>
    <hr>
    <br>
    <h1 class="section md-warn">Origins</h1>
    <figure style="font-style: italic;">
        <blockquote style="font-size: 120%">“They come from riches. They come from ruin. <br>
            They are a mess of textures, and a myriad of colors. <br>
            From distant lands and different worlds. From noble lines and quiet farms.<br>
            Yet no matter their race, descendance, title or physique,<br>
            In their eyes will be flame.<br>
            And this world will stretch before them like a golden river. <br>
            Their coming as true as the tide on the sand and the sun in the dawn. <br>
            Their path is uncertain, but rest assured. They shall come.”<br>
        </blockquote>
        <figcaption>— Words for the Wandersoul</figcaption>
    </figure>
    <br><br>
    <p>In the world of Aurinn, the exact origin of each traveler is quite unique,
        and this special upbringing may afford them certain boons and blessings.
        A token heirloom, curried favor, or even a glint of gold.
        When choosing your origin,
        consider what sort of things you may want or need for your character,
        and what sort of story fits them best.</p>
        
    <br><br>
</div>

<h3 style="text-align: left; margin-left: 25%;"><strong><u>Guide:</u></strong></h3>
<ol style="margin-left: 25%">
    <li>Select an <strong>Origin Type</strong> from the available options in the list below. You adopt this as your character's origin.</li>
    <li>Select your <strong>Origin Boons</strong> from the boon list. You can only select boons that are permitted by your Origin Type.</li>
    <li>You have <strong>three</strong> boons available. You can select a boon type multiple times in order to increase your tier in that boon.</li>
</ol>
<br>
<div>
    <hr>
    <br><br>
    <h1 class="section">Origin Types</h1>
</div>

<h4><u>The Prime:</u></h4>
<div>
    <p style="font-style: italic;">They are the people. From the earth they rose, and by this earth were they shaped. They are the inhabitants of the Prime Material Plane and its many brothers and sisters. Rest assured, humble beginnings have no bearing on bright and promising futures. They are the people. They are modest. They are mighty. </p>
    <br>
    <p>The Prime encompasses the basic origins of most characters. This includes the Prime Material Plane, its siblings, and Aurinn itself. It is typical for the Prime to bear material wealth, as well as have good standing with factions of the realm. However, they are not born with mystic powers outside what is common for magic-wielders.</p>
</div>
<br>
<p class="available">Available boons:</p>
<ul style="margin-left: 25%">
    <li><span class="can">Can</span> choose gold.</li>
    <li><span class="can">Can</span> choose heirloom.</li>
    <li><span class="can">Can</span> choose reputation.</li>
    <li><span class="cant">Cannot</span> choose power.</li>
</ul>

<br><br>
<br><br>

<h4><u>The Astral Vagrant</u></h4>
<div>
    <p style="font-style: italic;">The astral sea is a realm of immense proportions, and those that live within are vast and varied. It’s not too hard then, to imagine that one among those countless many may find themselves wandering the ceaseless depths of the astral expanse. And so, from this endless stretch of possibility emerges the Vagrant. Whatever their reasons, whatever their story, the Vagrant is here. And they shall seize the day in a fresh new world.</p>
    <br>
    <p>An Astral Vagrant can bear any form of gift, power, or reputation, for their story and origin have no limits to impede them. But be warned, for traversal across the Astral Sea is not a perfected art. Oftentimes, undesirable somethings bleed through, following these trespassers… and bringing their history with them. </p>
</div>
<br>
<p class="available">Available boons:</p>
<ul style="margin-left: 25%">
    <li><span class="can">Can</span> choose gold.</li>
    <li><span class="can">Can</span> choose heirloom.</li>
    <li><span class="can">Can</span> choose reputation.</li>
    <li><span class="can">Can</span> choose power.</li>
    <li><span class="feat">Feature</span> <span style="font-weight: bold"> (Astral Rival):</span> Something from their plane or past is hunting them down.</li>
</ul>

<br><br>
<br><br>

<h4><u>The Novaborne</u></h4>
<div>
    <p style="font-style: italic;">In this universe, the stars are fickle and vain, and they've found a particularly exciting way to compete over merit and glory. Around every century of time, these celestial bodies send forth a vessel. This offspring, born of star and flame, surges forth in a crystalline cocoon and descends to the material plane. They are the Novaborne, champions of their astral progenitor. Bound to a mortal end and radiant life, these avatars play the pawn in a game between stars. The Novaborne may be keenly aware or completely oblivious to this origin, depending on their parent. Yet one thing is certain: They are beholden to an undying thirst for adventure.</p>
    <br>
    <p>A Novaborne is a star-made adventurer. They often bear innate, shapeable abilities or powerful star-birthed artifacts as a result of their origin, but have difficulty building rapport with local factions, as they are privileged strangers in new lands.</p>
</div>
<p class="available">Available boons:</p>
<ul style="margin-left: 25%">
    <li><span class="can">Can</span> choose gold.</li>
    <li><span class="can">Can</span> choose heirloom.</li>
    <li><span class="cant">Cannot</span> choose reputation.</li>
    <li><span class="can">Can</span> choose power.</li>
</ul>

<br><br>
<br><br>

<h4><u>(???)</u></h4>
<div>
    <p style="text-indent:0pt; font-weight: bold;">REQUIRES UNLOCK</p>
    <p style="text-indent:0pt">To unlock this Origin Type, you must accomplish one of the following requirements:</p>
</div>
<ul style="margin-left: 25%">
    <li>Have every member of your party at Level 6 / Tier 6 or higher.</li>
    <li>Defeat ???</li>
</ul>

<br><br>
<br><br>

<h4><u>(???)</u></h4>
<div>
    <p style="text-indent:0pt; font-weight: bold;">REQUIRES UNLOCK</p>
    <p style="text-indent:0pt">To unlock this Origin Type, you must accomplish one of the following requirements:</p>
</div>
<ul style="margin-left: 25%">
    <li>Have every member of your party at Level 12 / Tier 12 or higher</li>
    <li>Defeat a Region Boss</li>
</ul>

<br><br>
<br><br>

<h4><u>(???)</u></h4>
<div>
    <p style="text-indent:0pt; font-weight: bold;">REQUIRES UNLOCK</p>
    <p style="text-indent:0pt">To unlock this Origin Type, you must accomplish one of the following requirements:</p>
</div>
<ul style="margin-left: 25%">
    <li>Unlock all other Origin Types.</li>
    <li>Defeat ???</li>
</ul>

<br><br>

<div style="font-size: 16pt">
<mat-form-field appearance="fill" color="accent">
    <mat-label>My Origin Type</mat-label>
    <mat-select [formControl]="selected" [(ngModel)]="selectedValue" name="origin-type" [errorStateMatcher]="matcher" (selectionChange)="reset()">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let type of originTypes" [value]="type.value">
            {{type.viewValue}}
        </mat-option>
        <mat-option disabled>???</mat-option>
        <mat-option disabled>???</mat-option>
        <mat-option disabled>???</mat-option>
    </mat-select>
    <mat-error *ngIf="selected.hasError('required')">You must choose an Origin Type.</mat-error>
</mat-form-field>
</div>

<br>
<hr>
<br><br>
<div>
    <h1 class="section">Origin Boons</h1>
    <p>There are four types of Origin Boons, and each can be selected by spending an Origin Point. You have three, use them wisely. You can choose to invest in a number of separate boons, or use them all for a single one. Bear in mind as well that your selected Origin Type determines whether you may or may not select certain boons.</p>
    <br> <hr> <br>
</div>
<div>
    <button mat-raised-button color="warn" class="add_subtract" [disabled]="gold == 0" (click)="gold = gold - 1"> - </button> 
    <h3 class="boon">Gold</h3> 
    <button mat-raised-button color="warn" class="add_subtract" [disabled]="used() == 3" (click)="gold = gold + 1"> + </button>
    <p class="quote">"They come from riches."</p> <br>
    todo: why the fuck is this not centered
</div>
<div>
    <p style="text-align: center;" [ngClass]="{'tier': gold >= 1}"><span class="bunder">Tier 1</span>: Your character begins with 1000gp.</p> <br>
    <p style="text-align: center;" [ngClass]="{'tier': gold >= 2}"><span class="bunder">Tier 2</span>: Your character begins with 2000gp.</p> <br>
    <p style="text-align: center;" [ngClass]="{'tier': gold >= 3}"><span class="bunder">Tier 3</span>: Your character begins with 3000gp.</p> <br>
</div>

<br> <hr> <br>
<div>
    <button mat-raised-button color="warn" class="add_subtract" [disabled]="heirloom == 0" (click)="heirloom = heirloom - 1"> - </button> 
    <h3 class="boon">Heirloom</h3>
    <button mat-raised-button color="warn" class="add_subtract" [disabled]="used() == 3" (click)="heirloom = heirloom + 1"> + </button>
    <p class="quote">" A relic from their past. And soon, of their future."</p> <br>
</div>
<div>
    <p style="text-align: center;" [ngClass]="{'tier': heirloom >= 1}"><span class="bunder">Tier 1</span>: Your character begins with a magic item of <span style="font-style: italic">Uncommon</span> rarity from source books or of your design (refer to your DM to determine design).</p> <br>
    <p style="text-align: center;" [ngClass]="{'tier': heirloom >= 2}"><span class="bunder">Tier 2</span>: Your character begins with a magic item of <span style="font-style: italic">Rare</span> rarity from source books or of your design (refer to your DM to determine design).</p> <br>
    <p style="text-align: center;" [ngClass]="{'tier': heirloom >= 3}"><span class="bunder">Tier 3</span>: Your character begins with a magic item of <span style="font-style: italic">Very Rare</span> rarity from source books or of your design (refer to your DM to determine design).</p> <br>
</div>
<br> <hr> <br>
<div>
    <button mat-raised-button color="warn" class="add_subtract" [disabled]="reputation== 0" (click)="reputation = reputation - 1"> - </button>
    <h3 class="boon">Reputation</h3>
    <button mat-raised-button color="warn" class="add_subtract" [disabled]="used() == 3 || selectedValue == 'novaborne'" (click)="reputation = reputation +1"> + </button>
    <p class="quote">"A wise man knows friends are worth more than gold. A wiser man knows gold's worth in buying friends"</p> <br>
</div>
<div>
    <p style="text-align: center;" [ngClass]="{'tier': reputation >= 1}"><span class="bunder">Tier 1</span>: Select a faction available from the Known Faction document. Your character begins with +100 reputation with the selected faction.</p> <br>
    <p style="text-align: center;" [ngClass]="{'tier': reputation >= 2}"><span class="bunder">Tier 2</span>: Select another faction available from the Known Faction document. Your character begins with +100 reputation with the selected faction or an additional +100 reputation with the faction selected in the previous tier.</p> <br>
    <p style="text-align: center;" [ngClass]="{'tier': reputation >= 3}"><span class="bunder">Tier 3</span>: Select another faction available from the Known Faction document. Your character begins with +100 reputation with the selected faction or an additional +100 reputation with the faction selected in the previous tier.</p> <br>
</div>
<br><hr><br>
<div>
    <button mat-raised-button color="warn" class="add_subtract" [disabled]="power == 0" (click)="power = power - 1"> - </button> 
    <h3 class="boon">Power</h3>
    <button mat-raised-button color="warn" class="add_subtract" [disabled]="used() == 3 || selectedValue == 'prime'" (click)="power = power + 1"> + </button>
    <p class="quote">"They are a mess of textures, and a myriad of colors."</p> <br>
</div>
<div>
    <p style="text-align: center;" [ngClass]="{'tier': power >= 1}"><span class="bunder">Tier 1</span>: Choose a 3rd level or lower spell from source books. You may cast that spell once per long rest. Alternatively, you may design a unique spell/ability to use once per day or at cantrip level (refer to your DM to determine design).</p> <br>
    <p style="text-align: center;" [ngClass]="{'tier': power >= 2}"><span class="bunder">Tier 2</span>: Choose a 4th level spell or lower spell. Alternatively, improve your unique spell/ability's power or allow its use twice per day.</p> <br>
    <p style="text-align: center;" [ngClass]="{'tier': power >= 3}"><span class="bunder">Tier 3</span>: Choose a 5th level spell or lower spell. Alternatively, improve your unique spell/ability's power or allow its use three times per day.</p> <br>
</div>

<br>