@import '~@angular/material/theming';

// The "default" color is 500; that's the one the palette website set the input color to be.

$pine-tree:
(
    50 : #e6e7e6,
    100 : #c1c3c1,
    200 : #989b97,
    300 : #6e726d,
    400 : #4f544e,
    500 : #30362f,
    600 : #2b302a,
    700 : #242923,
    800 : #1e221d,
    900 : #131612,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
    )
);

$auburn: 
(
    50 : #f5e5e5,
    100 : #e5bdbd,
    200 : #d49191,
    300 : #c36565,
    400 : #b64444,
    500 : #a92323,
    600 : #a21f1f,
    700 : #981a1a,
    800 : #8f1515,
    900 : #7e0c0c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
    )
);

$coyote-brown:
(
    50 : #f0ece6,
    100 : #d9d0c2,
    200 : #c0b099,
    300 : #a69070,
    400 : #937951,
    500 : #806132,
    600 : #78592d,
    700 : #6d4f26,
    800 : #63451f,
    900 : #503313,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
    )
);

$caramel:
(
    50 : #f8f3ef,
    100 : #ede2d7,
    200 : #e1cfbc,
    300 : #d4bba1,
    400 : #cbad8c,
    500 : #c29e78,
    600 : #bc9670,
    700 : #b48c65,
    800 : #ac825b,
    900 : #9f7048,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
    )
);

$bone:
(
    50 : #fbf9f7,
    100 : #f4f1ea,
    200 : #ede8dd,
    300 : #e5dfcf,
    400 : #e0d8c4,
    500 : #dad1ba,
    600 : #d6ccb3,
    700 : #d0c6ab,
    800 : #cbc0a3,
    900 : #c2b594,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
    )
);